* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#app {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url(../img/bg.jpeg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 1rem;
    .search-box {
        input {
            width: 100%;
            background-color: rgba(255, 255, 255, 0.25);
            padding: 0.5rem;
            font-size: 25px;
            border: none;
            outline: none;
            border-radius: 6px;
            color: white;
            text-shadow: 2px 2px 4px black;
            transition: all 0.2s linear;
            &::placeholder {
                color: white;
                text-shadow: 2px 2px 4px black;
                transition: all 0.2s linear;
            }
            &:focus {
                background-color: rgba(255, 255, 255, 0.75);
                color: black;
                text-shadow: 2px 2px 4px black;
                transition: all 0.2s linear;
                &::placeholder {
                    color: black;
                    text-shadow: 2px 2px 4px black;
                    transition: all 0.2s linear;
                }
            }
        }
        button {
            width: 100%;
            border: none;
            padding: 1rem;
            background-color: rgba(255, 255, 255, 0.75);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .75);
            transition: all 0.2s linear;
            font-size: 24px;
            margin-top: .5rem;
            &:hover {
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
                transition: all 0.2s linear;
            }
            &:active {
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
                transition: all 0.2s linear;
            }
        }
    }

    .weather-box {
        display: block;
        text-align: center;
        .title {
            color: white;
            text-shadow: 2px 2px 4px black;
            p {
                font-size: 52px;
            }
            span {
                font-style: italic;
                font-size: 18px;
            }
        }
        .temperature {
            color: white;
            text-shadow: 2px 2px 4px black;
            margin: 1.5rem 0;
            width: 25%;
            min-width: 238px;
            margin: 1.5rem auto;
            font-size: 58px;
            padding: 1rem;
            border-radius: 12px;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
            background-color: rgba(255, 255, 255, 0.5);
        }
        .icon {
            p {
                color: white;
                text-shadow: 2px 2px 4px black;
                font-size: 25px;
            }
            img {
                width: 65px;
            }
        }
    }
    .waitError {
        text-align: center;
        font-size: 25px;
        color: white;
        text-shadow: 2px 2px 4px black;
        margin-top: 2.5rem;
    }
}

